* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #111E36;
}

.container-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 70px 100px; 
    margin: 0px auto;

    

}
h1{
    color: white;
    padding: 10px 20px;
}
h3{
    color: rgb(52, 52, 219);
}
h2{
    color: white;
    padding: 10px 20px;
}

p{
    color: gray;
    line-height: 2em;
}
.container-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 300px;
 height: auto;
 border-radius: 5px;
 /* background-color: rgb(29, 13, 59); */
 text-align: center;
 margin: 20px;
 padding: 30px;
}


.fa-solid{
color: #19A3F2;
font-size: 35px;
padding: 20px;
border-radius: 50%;
width: 80px;
background-color: #193F63;
margin: 10px;
}

.card:hover{
    background-color: #172A4B;
}